/*h1, h2 {
  *font-family: Lato;

  https://www.google.com/search?q=how+to+align+text+to+bottom+of+div&rlz=1C1CHBF_esCO892CO892&oq=how+&aqs=chrome.2.69i59l3j69i57j0i271l3j69i61.5976j0j4&sourceid=chrome&ie=UTF-8
}*/

* {
  box-sizing: border-box;
}

.jc-center {
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  /*border: 1px solid black;*/
}

.screen {
  background-color: black;
  color: white;
  font-family: monospace;
  height: 40px;
  width: 100%;
  text-align: end;
  font-size: xx-large;
}

.keyboard {
  justify-content: space-between;
  background-color: black;
  
}



.button{
  border-radius: 0px;
  height: 40px;
  border-color: black;
}

button:active{
  background: rgb(224, 224, 224);
}


.button-1 {
  width: 23.5%;
}

.button-2 {
  width: 49%;
}

.button-3 {
  width: 74.5%;
    
}

.button-4 {
  width: 49%;
}

.button-operadores {
  /*border: none;*/
  
  font-family: sans-serif;
  font-size: 1rem;
  /*line-height: 1;*/
}

.last {
  font-size: 1rem;
  background: rgb(252, 164, 0);
  color: white;
}



